<?xml version="1.0" encoding="UTF-8" ?> 
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 <mapper namespace="com.neuedu.user.mapper.UserMapper"> 
     <resultMap type="com.neuedu.user.entity.User" id="userResultMap"> 
	    <id property="userID" column="userID" javaType="java.lang.Integer"/>  
	    <result property="userName" column="userName" javaType="java.lang.String"/> 
	    <result property="userPwd" column="userPwd" javaType="java.lang.String"/> 
	    <result property="email" column="email" javaType="java.lang.String"/>
	    <result property="realName" column="realName" javaType="java.lang.String"/>
	    <result property="tel" column="tel" javaType="java.lang.String"/>
	    <result property="age" column="age" javaType="java.lang.Integer"/>
	    <result property="sex" column="sex" javaType="java.lang.String"/>
	    <result property="address" column="address" javaType="java.lang.String"/>
	    <result property="postalcode" column="postalcode" javaType="java.lang.String"/>
	    <result property="isDel" column="is_del" javaType="java.lang.String"/> 
	 
	 </resultMap> 
 
    <insert id="insertUser" parameterType="com.neuedu.user.entity.User" > 
	    insert into user(userID,userName,userPwd,email,realName,tel,age,sex,address,postalcode,isDel) values(#{userID}, #{userName},#{userPwd},#{email},#{realName},#{tel},#{age},#{sex},#{address},#{postalcode},#{isDel})
	</insert> 
	
	<!-- 
	<select id="getAllProduct" resultMap="productResultMap">
       SELECT * from product;
    </select>
    
    <select id="getUserBranchList" parameterType="com.neusoft.basis.user.entity.UserEntity" resultMap="productResultMap">
        <if test="branchId == null or branchId == ''">
		    select '' id,'请选择' name
		    union	    
	    </if>
       SELECT id,name from branch 
         where 1 = 1
        <if test="branchId != '' and branchId != null">
			        and id = #{branchId}
	    </if>
    </select> -->
    
    <select id="getUser" parameterType="java.lang.String" resultMap="userResultMap"> 
	   <![CDATA[ 
	     SELECT * from user b
	     WHERE b.userName = #{name}
	    ]]> 
    </select> 
	
	<!-- <update id="updateProduct" parameterType="com.neusoft.basis.product.entity.ProductEntity" > 
	    update product
	       set 
	       proname= #{proname},
	       inprice=#{inprice},
	       saleprice=#{saleprice},
	       profit=#{profit},
	       brand=#{brand},
	       proarea=#{proarea},
	       num=#{num},
	       salenum=#{salenum},
	       nownum=#{nownum},
	       isDel=#{isDel},
	       lastModifyUserId =  #{lastModifyUserId} ,
	       lastModifyDate =  #{lastModifyDate}
	              
	     WHERE id = #{id}
	</update> 
	 <update id="updateProductStatus" parameterType="com.neusoft.basis.product.entity.ProductEntity" > 
	    update product
	       set isDel=#{isDel},
	           lastModifyUserId =  #{lastModifyUserId} ,
	           lastModifyDate =  #{lastModifyDate}       
	     WHERE id = #{id}
	</update>  -->
 
 </mapper>